@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  border-radius: 0.5rem;
}
body {
  background-color: var(--Stone100);
  font-size: 62.5%;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  display: grid;
  grid-template-rows: 100vh 10vh;
}