@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  border-radius: 0.5rem;
}
body {
  background-color: var(--Stone100);
  font-size: 62.5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 400;
  display: grid;
  grid-auto-rows: 95vh 5vh;
}
h2 {
  font-family: 'Young Serif';
  color: var(--Brown800);
  font-weight: lighter;
}
h1{
  color: #000;
  font-family: 'Young Serif';
  font-size: 1.3rem;
  font-weight: lighter;
}
h3,p,li{
  font-family: outfit;
}
p{
  font-size: 0.7rem;
}
ul,
ol {
  list-style-position: inside;
}
