:root {
  --Stone100: hsl(30, 54%, 90%);
  --Stone150: hsl(30, 18%, 87%);
  --Stone600: hsl(30, 10%, 34%);
  --Stone900: hsl(24, 5%, 18%);

  --Brown800: hsl(14, 45%, 36%);

  --Rose800: hsl(332, 51%, 32%);
  --Rose50: hsl(330, 100%, 98%);
}
section {
  margin-top: 1rem;
}

.image img {
  width: 100%;
  border-radius: 0.5rem;
}
h2 {
  font-family: "Young Serif";
  color: var(--Brown800);
  font-weight: lighter;
}
h1 {
  color: #282725;
  font-family: "Young Serif";
  font-size: 2.5rem;
  font-weight: lighter;
}
h3,
p,
li {
  font-family: outfit;
}
h1,
h2 {
  margin-bottom: 0.5rem;
}
p {
  font-size: 0.7rem;
}
ul,
ol {
  list-style-position: inside;
}
span {
  font-weight: bold;
  color: #282725;
}
.hero {
  width: 40rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  grid-area: hero;
  margin: 0 auto;
}

.hero .prepation {
  background-color: var(--Rose50);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.hero .ingredients,
.instructions {
  border-bottom: 1px solid hsla(30, 10%, 34%, 20%);
  padding-bottom: 1rem;
}
.hero .prepation h3 {
  color: var(--Rose800);
  margin-bottom: 0.3rem;
}
.hero .prepation ul {
  list-style-type: disc;
}
.hero .prepation ul li::marker {
  color: var(--Rose800);
  font-weight: bold;
}
.hero section > ul li::marker,
ol li::marker {
  color: var(--Brown800);
  font-weight: bold;
}
.hero .nutrition div {
  border-bottom: 1px solid hsla(30, 10%, 34%, 20%);
  display: grid;
  grid-template-areas: "tipe . value .";
  grid-template-columns: repeat(4, 1fr);
  padding: 0.5rem 0;
}
.hero .nutrition div > p:nth-child(1) {
  grid-area: tipe;
}

.hero .nutrition div > p:nth-child(2) {
  grid-area: value;
  font-weight: bold;
  color: var(--Brown800);
}
.hero p,
.hero ul > li,
ol > li,
.hero .nutrition div > p {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  padding: 3vh 0;
  grid-area: footer;
  font-family: outfit;
}
.attribution a {
  font-size: 1rem;
  color: var(--Brown800);
}
