:root {
  --Stone100: hsl(30, 54%, 90%);
  --Stone150: hsl(30, 18%, 87%);
  --Stone600: hsl(30, 10%, 34%);
  --Stone900: hsl(24, 5%, 18%);

  --Brown800: hsl(14, 45%, 36%);

  --Rose800: hsl(332, 51%, 32%);
  --Rose50: hsl(330, 100%, 98%);
}
section {
  margin-top: 1rem;
}
h2 {
  font-family: "Young Serif";
  color: var(--Brown800);
  font-weight: lighter;
}
h1 {
  color: #282725;
  font-family: "Young Serif";
  font-size: 1.3rem;
  font-weight: lighter;
}
h3,
p,
li {
  font-family: outfit;
}
p {
  font-size: 0.7rem;
}
ul,
ol {
  list-style-position: inside;
}
span {
  font-weight: bold;
  font-weight: bold;
  color: #282725;
}
.hero {
  margin: 0 auto;
  width: 25rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.hero .prepation {
  background-color: var(--Rose50);
  padding: 0.5rem;
}
.hero .food,
.ingredients,
.instructions {
  border-bottom: 1px solid hsla(30, 10%, 34%, 50%);
  padding-bottom: 1rem;
}
.hero .prepation h3 {
  color: var(--Rose800);
}
.hero .prepation ul {
  list-style-type: disc;
}
.hero .prepation ul li::marker {
  color: var(--Rose800);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  bottom: 0;
}
.attribution a {
  font-size: 1.1rem;
  color: tomato;
}